@use "./../../foundation/mixin" as *;
@use "./../../foundation/variable" as *;

.c-button {
  &__menu {
    display: block;
    font-size: min(5.07vw, 34px);
    font-weight: bold;

    color: $color-sidetext;
    @include breakpoint(pc) {
      display: none;
    }
  }
  &__sidebar {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 30px;
    right: 10%;
    cursor: pointer;
    @include breakpoint(tablet) {
      right: 7%;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 19px;
      right: 14px;
      width: 6px; /* 棒の幅（太さ） */
      height: 50px; /* 棒の高さ */
      background: $color-sidetext;
      cursor: pointer;
      @include breakpoint(pc) {
        display: none;
      }
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

/* singleページ用 */
.c-button {
  &__single {
    margin: 30px 0;
    text-align: center;
    align-items: center;
    background-color: $color-btn;
    border: 1px solid #707070;
    border-radius: 20px;
    width: 335px;
    height: 81px;
    font-weight: bold;
    @include breakpoint(tablet) {
      width: 429px;
      height: 104px;
      margin: 60px 0;
    }
  }
}
