@use "./../../foundation/mixin" as *;
@use "./../../foundation/variable" as *;

.type-post {
  margin: 19px 0 20.9px;

  @include breakpoint(tablet) {
    padding-bottom: 40px;
    margin: 37px 0 20.5px;
  }
  @include breakpoint(pc) {
    padding-bottom: 60px;
    margin: 70px 0 30px;
  }
}
.c-card {
  &__flex {
    @include breakpoint(tablet) {
      display: flex;
    }
  }
  &__img {
    min-height: 253px;
    height: auto;

    @include breakpoint(tablet) {
      min-width: 50%;
      min-height: 354.5px;
    }
    @include breakpoint(pc) {
      min-width: 50%;
      min-height: 471px;
    }
  }
  &__article {
    padding-bottom: 43.7px;
    background-color: $color-article;

    @include breakpoint(tablet) {
      padding-bottom: 0;
    }
    @include breakpoint(pc) {
      padding-bottom: 0;
    }
  }
}

.c-card {
  &__title,
  &__title-sub,
  &__text {
    color: $color-text;
    padding-left: 17px;
    @include breakpoint(tablet) {
      padding-left: 34.7px;
    }
    @include breakpoint(pc) {
      padding-left: 63px;
    }
  }
  &__title {
    font-size: 2rem;
    padding-top: 30.5px;
    @include breakpoint(tablet) {
      padding-top: 29px;
    }
    @include breakpoint(pc) {
      font-size: 3.6rem;
      padding-top: 53px;
    }
  }
  &__title-sub {
    font-size: 1.6rem;
    padding-top: 24px;
    @include breakpoint(pc) {
      font-size: 2.4rem;
      padding-top: 47px;
    }
  }
  &__text {
    font-size: 1.6rem;
    padding-top: 10px;
    padding-right: 73.1px;
    @include breakpoint(tablet) {
      padding-right: 59px;
    }
    @include breakpoint(pc) {
      padding-top: 17px;
      padding-left: 63px;
    }
  }
  &__button {
    display: block;
    font-size: 1.6rem;
    margin: 40px auto 0;
    width: 163px;
    height: 42px;
    background-color: $color-btn;
    border: solid 1px #707070;
    border-radius: 40px;
    padding: 7px 40px;

    @include breakpoint(tablet) {
      margin: 15% auto;
    }
    @include breakpoint(pc) {
      margin: 60px auto;
      width: 292px;
      height: 76px;
      padding: 25px 50px 25px 105px;
    }
  }
}
