@use "./../../foundation/mixin" as *;

.c-inner {
  margin: 0 auto;
  padding: 5px 20px 0px;
  text-align: right;
  &__article {
    padding: 5.1% 5.1% 13.1%;
    @include breakpoint(tablet) {
      padding: 4.8%;
    }
    @include breakpoint(pc) {
      height: 49vh;
      min-height: 1447px;
      padding: 7.73% 7.2% 8.44%;
    }
  }
  &__archive {
    padding: 30px 19px 31px 22px;
    @include breakpoint(tablet) {
      padding: 36px 35px 30px 43px;
    }
    @include breakpoint(pc) {
      padding: 60px 100px 64px;
    }
  }
  &__single {
    padding: 30px 20px 0;
    @include breakpoint(tablet) {
      padding: 60px 55px 0;
    }
    @include breakpoint(pc) {
      padding: 60px 100px 0;
    }
  }
}
