@use "./../../foundation/variable" as *;
@use "./../../foundation/mixin" as *;

.menu-item-type-taxonomy > a {
  display: block;
  padding: 0 0 40px 12.5%;
  color: $color-sidetext;
  font-size: 2.4rem;
}

.sub-menu {
  padding-left: 17.9%;
  font-size: 2rem;
  & > li {
    padding-bottom: 22px;
    &:last-child {
      padding-bottom: 49px;
    }
    & > a {
      color: $color-sidetext;
    }
  }
}
