@use "./../../foundation/variable" as *;
@use "./../../foundation/mixin" as *;

.wp-pagenavi {
  display: flex;
  justify-content: center;
  align-self: center;
  & > span,
  & > a {
    color: $color-btntext;
    font-family: "Roboto";
    font-weight: bold;
    margin-left: 15px;
  }
  & > span {
    padding-top: 5px;
  }
  & > .page {
    border: solid;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 2;
  }
  & > .current {
    border: solid 1px #3c2b1c;
    background-color: #3c2b1c;
    color: white;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 1.5;
  }
  & > .previouspostslink,
  & > .nextpostslink {
    font-size: 25px;
    line-height: 1.3;
  }
  & > .first,
  & > .last {
    line-height: 2.3;
  }
}
