@use "./../../foundation/variable" as *;
@use "./../../foundation/mixin" as *;

.c-recommend__menu {
  display: flex;
  gap: 10px;
  margin: 30px 0;

  @include breakpoint(tablet) {
    margin: 60px 0;
    gap: 21px;
  }
  @include breakpoint(pc) {
    gap: 40px;
  }
  & > img {
    min-width: 44%;
    min-height: 89px;
    @include breakpoint(tablet) {
      min-width: 44.2%;
      min-height: 189px;
    }
    @include breakpoint(pc) {
      min-width: 34.6%;
      min-height: 358px;
    }
  }

  &-reverse {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    margin: 30px 0;

    @include breakpoint(tablet) {
      margin: 60px 0;
      gap: 21px;
    }
    @include breakpoint(pc) {
      gap: 40px;
    }
    & > img {
      min-width: 44%;
      min-height: 89px;
      @include breakpoint(tablet) {
        min-width: 44.2%;
        min-height: 189px;
      }
      @include breakpoint(pc) {
        min-width: 34.6%;
        min-height: 358px;
      }
    }
  }
}
