@use "./../../foundation/variable" as *;
@use "./../../foundation/mixin" as *;

.c-text {
  &__copy {
    color: $color-white;
    font-size: 2rem;
  }
  &__copy {
    text-align: center;
    padding: 0px 20px 20px;
  }
  &__map {
    font-size: 1.4rem;
    color: $color-white;
    padding: 30px;
    font-weight: bold;
    position: relative;
    z-index: 3;
    @include breakpoint(pc) {
      width: 60%;
      min-height: 471.4px;
      padding: 120px;
      line-height: 2;
      font-size: 1.6rem;
      background: rgba($color: #000000, $alpha: 0.29);
    }
  }
}

/* single ページ　*/

.c-text {
  &__single {
    font-weight: bold;
    margin-bottom: 177px;
  }
}
