@use "./../../foundation/mixin" as *;
@use "./../../foundation/variable" as *;

.c-title {
  &__sitetitle,
  &__takeout,
  &__eatin,
  &__map {
    color: $color-white;
  }
  &__sitetitle {
    font-size: 3.6rem;
    position: absolute;
    top: 120px;
    left: 28px;
    line-height: 1;
    @include breakpoint(pc) {
      top: 215px;
      font-size: 4rem;
    }
    &--archive {
      font-size: 3.6rem;
      position: absolute;
      top: 115px;
      left: 38px;
      line-height: 1;
      color: $color-white;
      @include breakpoint(tablet) {
        font-size: 6rem;
      }
      &-sub {
        font-size: 1.6rem;
        font-weight: bold;
        position: absolute;
        top: 166px;
        left: 38px;
        line-height: 1;
        color: $color-white;
        @include breakpoint(tablet) {
          top: 143px;
          left: 243px;
        }
      }
    }
    &--archive-search {
      font-size: 3.6rem;
      position: absolute;
      top: 115px;
      left: 38px;
      line-height: 1;
      color: $color-white;
      @include breakpoint(tablet) {
        font-size: 6rem;
      }
      &-sub {
        font-size: 1.6rem;
        font-weight: bold;
        position: absolute;
        top: 166px;
        left: 38px;
        line-height: 1;
        color: $color-white;
        @include breakpoint(tablet) {
          top: 143px;
          left: 275px;
        }
      }
    }
    &--single {
      font-size: 3.6rem;
      position: absolute;
      top: 100px;
      left: 20px;
      line-height: 1;
      color: $color-white;
      @include breakpoint(tablet) {
        top: 210px;
        left: 60px;
        font-size: 6rem;
      }
      @include breakpoint(pc) {
        left: 80px;
      }
    }
  }

  &__takeout,
  &__eatin {
    font-size: 41px;
    padding-left: 15px;
    margin-bottom: 280px;
    &::after {
      content: "";
      display: inline-block;
      height: 4px;
      background-color: white;
      position: absolute;
      top: 70px;
      left: 15px;
      width: 34px;
    }
    &--sub {
      font-size: 22px;
    }
  }
  &__map {
    font-size: 3rem;
    padding: 30px;
    position: relative;
    z-index: 3;
    @include breakpoint(pc) {
      font-size: 3.6rem;
      padding: 60px 120px;
      width: 60%;
      background: rgba($color: #000000, $alpha: 0.29);
    }
    &::after {
      content: "";
      display: inline-block;
      height: 2px;
      background-color: white;
      position: absolute;
      top: 100px;
      left: 30px;
      width: 60px;
      @include breakpoint(pc) {
        width: 80px;
        top: 190px;
        left: 120px;
      }
    }
  }
  &__sidebar {
    display: none;
    @include breakpoint(pc) {
      display: block;
      padding: 82px 0 85px 12.5%;
      color: $color-sidetext;
      font-size: 3.4rem;
    }
  }
  &__subheading {
    font-size: 28px;
    padding-bottom: 30px;
    @include breakpoint(tablet) {
      font-size: 36px;
      padding-bottom: 25px;
    }
  }
}
