@use "./../../foundation/mixin" as *;
@use "./../../foundation/variable" as *;

.c-title {
  &__sitetitle,
  &__takeout,
  &__eatin,
  &__map {
    color: $color-white;
  }
  &__sitetitle {
    font-size: 36px;
    position: absolute;
    top: 43%;
    left: 5%;
    line-height: 1;
    @include breakpoint(pc) {
      font-size: 40px;
    }
  }
  &__takeout,
  &__eatin {
    font-size: 41px;
    padding-left: 15px;
    margin-bottom: 280px;
    &::after {
      content: "";
      display: inline-block;
      height: 4px;
      background-color: white;
      position: absolute;
      top: 70px;
      left: 15px;
      width: 34px;
    }
    &--sub {
      font-size: 22px;
    }
  }
  &__map {
    font-size: 3rem;
    padding: 30px;
    position: relative;
    z-index: 3;
    @include breakpoint(pc) {
      font-size: 3.6rem;
      padding: 60px 120px;
    }
    &::after {
      content: "";
      display: inline-block;
      height: 4px;
      background-color: white;
      position: absolute;
      top: 100px;
      left: 30px;
      width: 60px;
      @include breakpoint(pc) {
        top: 190px;
        left: 120px;
      }
    }
  }
  &__sidebar {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 32px;
      right: 32px;
      width: 5px; /* 棒の幅（太さ） */
      height: 30px; /* 棒の高さ */
      background: #333;
      @include breakpoint(pc) {
        display: none;
      }
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    @include breakpoint(pc) {
      padding: 82px 0 85px 12.5%;
      color: $color-sidetext;
      font-size: 3.4rem;
    }
  }
}
