@use "./../../foundation/mixin" as *;

.u-margin {
  &__takeout {
    margin-bottom: 22px;
    @include breakpoint(tablet) {
      margin-bottom: 0;
    }
  }
  &__sidebar--open {
    margin-left: 25%;
    @include breakpoint(tablet) {
      margin-left: 60%;
      @include breakpoint(pc) {
        margin-left: 0;
      }
    }
  }
}
