@use "./../../foundation/mixin" as *;

.p-mainvisual__image {
  position: relative;
  height: 18vh;
  min-height: 285px;
  @include breakpoint(pc) {
    min-height: 530px;
  }
  &--archive {
    position: relative;
    height: 18vh;
    min-height: 283px;
    background: rgba(0, 0, 0, 0.7);
    @include breakpoint(pc) {
      min-height: 239px;
    }
    & > img {
      object-position: 30%;
    }
  }
}
