@use "./../../foundation/variable" as *;
@use "./../../foundation/mixin" as *;

.p-map {
  position: relative;
  background-color: black;
  @include breakpoint(pc) {
    min-height: 649px;
  }

  &::before {
    background: rgba(0, 0, 0, 0.3);
    content: "";
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    @include breakpoint(tablet) {
      height: 100%;
    }
    @include breakpoint(pc) {
      display: none;
    }
  }
}
