@use "./../../foundation/variable" as *;
@use "./../../foundation/mixin" as *;

.p-search-form {
  display: flex;
  justify-content: space-between;
  max-width: 545px;
  text-align: center;
  margin: 30px 10px 30px 0;
  height: 46px;
  @include breakpoint(tablet) {
    margin: 30px auto;
  }
  @include breakpoint(pc) {
    margin: 0;
    width: min(35.1vw, 545px);
  }
  &__keyword {
    display: inline-block;
    background-color: white;
    width: 72%;
    height: 46px;
    border: 1px solid #707070;
    border-radius: 12px;
    margin-right: 13px;
    padding-left: 10px;
    font-size: 20px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }
  &__submit {
    display: inline-block;
    background-color: $color-btn;
    width: 24%;
    height: 46px;
    border: 1px solid #707070;
    border-radius: 12px;
    color: $color-btntext;
    font-weight: bold;
  }
}
