@use "./../../foundation/variable" as *;
@use "./../../foundation/mixin" as *;

.p-sidebar {
  position: fixed;
  background-color: $color-sidebar;
  width: 75vw;
  height: 100vh;
  left: 100%;
  padding-top: 217px;
  overflow-y: auto;
  transition: left 300ms 0s ease;
  z-index: 9998;
  &.is-open {
    left: 25%;
    @include breakpoint(tablet) {
      width: 50vw;
      left: 50%;
    }
  }

  @include breakpoint(pc) {
    position: static;
    width: inherit;
    height: inherit;
    overflow-y: inherit;
    transition: inherit;
    padding-top: 0;
  }
}

/*メニューが開いた後のカバー背景*/
.l-sidebar__overlay {
  &.is-open {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 15;
    background: rgba(3, 3, 3, 0.5);
    display: block;
  }
}
