@use "./../foundation/mixin" as *;

.l-grid {
  display: grid;
  grid-template-columns: 1fr 100%;
  grid-template-rows: 217px 1fr 150px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  @include breakpoint(pc) {
    grid-template-columns: 1fr 19.1%;
  }
}

.l-grid-header {
  grid-column: 1/3;
  grid-row: 1;
  @include breakpoint(pc) {
    grid-column: 1 /2;
  }
}

.l-grid-main {
  grid-column: 1/3;
  grid-row: 2;
  @include breakpoint(pc) {
    grid-column: 1 /2;
  }
}

.l-grid-sidebar {
  grid-column: 2;
  grid-row: 1 / 4;
  @include breakpoint(pc) {
    grid-row: 1 / 3;
  }
}

.l-grid-footer {
  grid-column: 1 /3;
  grid-row: 3;
}

.l-grid__image {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(335px, 349px));
  @include breakpoint(tablet) {
    gap: 18px;
    margin-bottom: 60px;
  }
  @include breakpoint(pc) {
    gap: 20px;
    justify-content: center;
  }
}
