@use "./../foundation/variable" as *;
@use "./../foundation/mixin" as *;

.l-header {
  background-color: $color-header;
  &__logo {
    font-size: 40px;
    text-align: center;
    & > a {
      color: $color-logo;
    }
    @include breakpoint(pc) {
      font-size: min(4.8vw, 64px);
    }
  }
  &__content {
    @include breakpoint(pc) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 35px 5px 35px 30px;
    }
  }
}
