@use "./../foundation/variable" as *;
@use "./../foundation/mixin" as *;

.l-side {
  background-color: $color-sidebar;
  position: fixed;
  list-style: none;
  @include breakpoint(pc) {
    position: static;
  }
}
