@use "./../foundation/mixin" as *;
@use "./../foundation/variable" as *;

.l-sidebar {
  display: none;
  background-color: $color-sidebar;
  z-index: 5;
  animation: slidout 0.5s forwards;
  @keyframes slidout {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(1200px);
    }
  }

  &.is-open {
    display: block;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 20%,
      rgba(0, 0, 0, 1) 20%,
      rgba(242, 237, 233, 1) 20%,
      rgba(242, 237, 233, 1) 20%,
      rgba(242, 237, 233, 1) 100%
    );
    animation: slidin 0.5s forwards;
    @keyframes slidin {
      from {
        transform: translateX(1200px);
      }
      to {
        transform: translateX(0);
      }
    }
    @include breakpoint(tablet) {
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 1) 50%,
        rgba(242, 237, 233, 1) 50%,
        rgba(242, 237, 233, 1) 50%,
        rgba(242, 237, 233, 1) 100%
      );
    }
  }

  @include breakpoint(pc) {
    display: block;
    animation: none;
    transform: none;
  }
}
